.wrapper-feedback{
    width: 100%;
    position: absolute;
    top:0;
    left:-150%;
}

.feedback{
    width: 100%;
    min-height: 1110px;
    font-family: 'TT Lakes';
    background: #FFFFFF;
    .wrapper-content{
        width: 320px;
    }
    .input-field{
        height: 48px;
        width: 288px;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        padding-left: 16px;
        margin: 0 0 16px 16px;
    }
    .input-field:last-child{
        height: 118px;
        padding-top: 12px;
    }
    p{
        height: 64px;
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        margin: 0 16px 19px 16px;
    }
    .feedback-button-send{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 32px;
        width: 136px;
        background: #FF3E79;
        border-radius: 16px;

        font-family: 'TT Lakes';
        font-size: 12px;
        line-height: 24px;
        text-align: right;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: bold;

        margin: 0 0 75px 168px;
    }
    .feedback-button-send::after{
        content: '';
        width: 8px;
        height: 9.63px;
        background-image: url(feedback/dropdown.svg);
        background-repeat: no-repeat;
        position: relative;
        top: 7px;
        left: 12.57px;
    }
}

.feedback-exit{
    margin: 24px 0 40px 16px;
}

.feedback-title{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;

    background-image: url(main-content/__title-section/highlighting-strip.svg);
    background-repeat: no-repeat;
    background-position: left center;

    padding: 0 0 0 16px;
    margin-bottom: 24px;
}

::placeholder{
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    margin: 12px 0 0 16px;
}