.main-content__title-section{
    font-family: 'TT Lakes';
    font-size: 1.75rem;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;

    background-image: url(highlighting-strip.svg);
    background-repeat: no-repeat;
    background-position: left center;

    padding:24px 16px 24px 16px;
}