footer{
    width: 100%;
    position: absolute;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F8F8F8;
    width: 100%;

    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;

    padding: 16px 0px;
}

.footer::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #D9FFF5;
    position: absolute;
    top: 1px;
}